<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div id="HeaderView" class="col-xs-12">
    <div class="col-sm-4"> 
        <div id="headerH" class="logo">
        	<img src="Images/logo.svg">
        </div>
    </div>
    <div class="col-sm-8 header-right">    	
        <div class="user-profile">
        	<div class="user-name">{{name}}</div>
        	<div class="user-avatar">
        		<img ng-src="{{avatar}}" alt="{{name}}">
        	</div>
            <div class="dropdown">
              <img id="menuarrow" ng-click="magda()" class="dropbtn" src="Images/menuarrow.png"></img>
              <div id="myDropdown" class="dropdown-content pull-left">
                <a href="#!/Profile/">Profile</a>
                <a href="#!/Eventlist">Events</a>
                <a href="#">Options</a>
              </div>
            </div>
        </div>
    </div>
</div>