<ng-include src="'partials/Header.html'" ng-controller="headerCtrl"></ng-include>
<ng-include src="'partials/Sidebar.html'" ng-controller="sidebarCtrl"></ng-include>

<div id="ShowEvents" class="col-sm-9">
    <div id="Loading" class="load" ng-show="loading">
        <div class="container-fluid">
            <div class="row">
                 <p>Loading...</p>
                 <i class="settings icon"></i>
            </div>
        </div>
    </div>
    <div id="mainShowEvents" ng-show="!loading">
        <div class="container-fluid">
            <div id="eventGallery">
                <img id="eventPic" ng-src="{{event.cover}}">
                <h5 id="eventName">{{event.name}}</h5>
                <div id="eventText">
                    <p id="eventType">{{event.category}}</p><br>
                    <p>{{event.description}}</p>
                </div> 
            </div>
        </div>
        <button id="backBtn" class="btn btn-info" ng-click="doTheBack()"> < </button>
        <button id="addBtn" class="btn btn-info" ng-click"addEvent()"= >ADD TO MY EVENTLIST </button>
    </div>    
</div>
