<ng-include src="'partials/ShowEvent.html'" ng-controller="showsEventCtrl"> </ng-include>

    <div id="ShowEvents">
        <div id="Loading" class="load">
            <div class="container-fluid">
                <div class="row">
                     <p>Loading...</p>
                </div>
            </div>
        </div>
        <div id="mainShowEvents">
            <div class="container-fluid">
                <div class="row">
                    <h2>Gallery</h2>
                    <div id="eventGallery">
                        <img id="eventPic" src="">Pic
                        <h5 id="eventName">{{eventName}}</h5>
                        <p id="eventType">{{eventType}}</p>
                    </div>
                </div>
            </div>
        </div>    
    </div>
