<div id="Sidebar" class="col-sm-3" ng-controller="sidebarCtrl">
        
    <div id="eventList" class="container-fluid">
        <div class="row">
            <h4>
                <i id="eventIcon" class="fa fa-bars"></i>
                MY EVENTLIST 
            </h4>
        </div>
        <div class="col-xs-12 my-events-item" ng-repeat="event in events">
            <div class="col-xs-3">
                <img ng-src="{{event.eventImage}}" alt="{{event.eventName}}">
            </div>
            <div class="col-xs-9">

                <div>{{event.eventDate | date:'dd/MM/yyyy - HH:mm':"+0200"}}</div>
                <div>
                    <a ng-href="#!/ShowEvent/{{event.eventId}}">{{event.eventName}}</a>
                    <button id="removeBtn" class="btn btn-info" ng-click="removeEvent">X</button>
                </div>
            </div>

        </div>
        
        <button id="printELBtn" class="btn btn-info"> Print</button>
    </div>

    <div id="responsBox">
        <i id="mailIcon" class="fa fa-envelope-open" style="font-size:24px"></i>
        <p> IF YOU EXPERIENCE ANY DIFFERCULTIES PLEASE DO NOT HESITATE TO GET IN TOUCH WITH US</p>
        <a id="mailBtb" href="mailto:someone@example.com?Subject=Hello%20again" class="btn btn-info">SEND E-MAIL</a> 
    </div>
    
</div> 

