body {

    background: url("../Images/a.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerH{
    margin-left: 3px;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 24px;

}

#eventIcon{
    font-size: 20px;
    padding-right: 10px;
}
 
h1{
    color: black;
    text-align: center; 
    font-family: Arial;
    font-weight: bold;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 85px; 
    padding-top: 2%;
    text-shadow: 2px 2px #2F4F4F;
}
 
h4{
    text-transform: uppercase;
    font-family: Arial;
    text-decoration:  #2F4F4F;
    font-style: lighter; 
    font-size: 30px;
    font-family: Helvetica;
    text-decoration:  #2F4F4F;
    font-weight: lighter; 
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
}
 
p{
    font-family: Arial;
    font-family: Helvetica;
    font-style: lighter; 
    text-transform: uppercase;
    text-align: center;
    font-size: 15px; 
}
 
#eventList{
    color: white;
    margin-top: 30px; 
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0,0,0,0.6);
    background-repeat: no-repeat;
    background-origin: content-box;
}
 
#responsBox{
    color: white;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0,0,0,0.6);
    background-repeat: no-repeat;
 
}
 
.btn-info{
    background-color: #2F4F4F; 
    text-align: center;
    position: center;
    color: white;
    background-color: rgb(56,60,70);
    border-color: rgb(56,60,70);
}
 
.btn-info:hover{
    background-color: rgb(100,100,100);
    border-color: rgb(100,100,100);
}
 
#eventList{
    background-color: rgba(0,0,0,0.6);
    color: white;
    margin-top: 30px; 
    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    
    background-repeat: no-repeat;
    background-origin: content-box;
}
 
#responsBox{
    background-color: rgba(0,0,0,0.6);
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 30px;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
 
.btn-info{
    background-color: #2F4F4F; 
    text-align: center;
    position: center;
    color: white;
    background-color: rgb(56,60,70);
    border-color: rgb(56,60,70);
}
 
.btn-info:hover{
    background-color: rgb(100,100,100);
    border-color: rgb(100,100,100);
}

#removeBtn{
    background-color: #4d0000;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}
 
#mailBtb{
    margin-left: 25%; 
    margin-right: 25%;
}
 
#printELBtn{
 margin-right: 40%;
 margin-left: 35%;
}
 
#singelEvent{
 
}
 
.form-control{
    font-weight: lighter;
    font-size: 11px;
    background-color: rgba(255,255,255,0.7); 
}

#mailIcon{
    margin-left: 40%;
    margin-bottom: 4%;
    font-size: 48px;
}
#singelEvent{
    padding-left: 22px;
    font-family: Helvetica; 
    font-weight: lighter;
    font-size: 15px;
}
 
.form-control{
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 11px;
    background-color: rgba(255,255,255,0.7); 
}
 
.facebook-login {
    background-color: #3b5998;
    border-color: white;
}
 
#HeaderView {
    background-color: rgba(0,0,0,0.6);
    background-repeat: repeat;
    background-origin: border-box;
}
 
#HeaderView{
    color: #fff;
    font-size: 20px;
    background-color: rgba(0,0,0,0.8);
    background-repeat: repeat;
    background-origin: border-box;

    color: #fff;
    font-size: 0px;
    padding: 15px 0;
}
 
.event-picture {
    padding: 0;
}
 
.event-item {
    background-color: #000;
    background-color: rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.6); 
    margin: 1rem 0; 
    color: #fff;
    padding: 0;
}
 
.event-item a {
    padding: 0 1rem;
    color: white;
}
 
.logo h4 {
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    margin: 20px;
    font-weight: bold;
    font-weight: bold; 
}
 
.login-container {
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    margin: 20% auto 0;
    max-width: 360px;
    min-height: 150px;
}

output {
	display: inline;
}

.event-filter{
	background-color: white;
	background-color: rgba(255,255,255,0.5);
	padding: 15px 0;
	margin-top: 15px;
}

.event-filter{
    color: lightgrey;
    font-family: Helvetica;
    font-weight: lighter;
    text-transform: uppercase;
	background-color: rgba(0,0,0,0.6); 
	
	margin-top: 30px;
    padding: 15px 0;
}

.my-events-item img {
	width: 100%;
	height: auto;
}