body {
	background: url("../Images/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
	color: black;
	text-align: center; 
	font-family: Arial;
	font-weight: bold;
	font-size: 85px; 
	padding-top: 2%;
    text-shadow: 2px 2px #2F4F4F;
}

p{
	text-align: center;
	font-weight: lighter;
	font-size: 35px; 
	padding-bottom: 3%; 
	text-shadow: 2px 2px #2F4F4F;
}

.form-control{
	font-weight: lighter;
	font-size: 11px;
	background-color: rgba(255,255,255,0.7); 
}

.facebook-login {
    background-color: #3b5998;
    border-color: white;
}

#HeaderView {
	background-color: rgba(0,0,0,0.6);
	background-repeat: repeat;
	background-origin: border-box;
}

#HeaderView{
	color: #fff;
	font-size: 20px;
	padding: 15px 0;
}

.event-picture {
	padding: 0;
}

.event-item {
	background-color: #000;
	background-color: rgba(0,0,0,0.5);	
	margin: 1rem 0;	
	color: #fff;
	padding: 0;
}

.event-item a {
	padding: 0 1rem;
	color: white;
}

.logo h4 {
	text-transform: uppercase;
	font-size: 38px;
	text-align: center;
	margin: 20px;
	font-weight: bold;
}

.login-container {
	background-color: #fff;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	margin: 20% auto 0;
    max-width: 360px;
    min-height: 150px;
}
